{% extends 'base.html' %} {% block content %}
<h1>Detalles del Libro:</h1>
<article>
  <h5><b>Título: </b>{{libro.titulo}}</h5>
  <p><b>Autores: {% for autor in libro.autores.all %} {{ autor.nombre }}{% if not forloop.last %}, {% endif %} {% endfor %}</p>
  <p><b>Editorial: </b>{{libro.editorial}}</p>
  <p><b>Libro: </b>{{libro.rating}}</p>
  <p><b>Fecha publicación: </b>{{libro.fechaPublicacion}}</p>
  <p><b>Género: </b>{{libro.genero}}</p>
  <p><b>ISBN: </b>{{libro.isbn}}</p>
  <p><b>Resumen: </b>{{libro.resumen}}</p>
  <p><b>Estado: </b>{{libro.disponibilidad}}</p>
  {% if libro.portada %}
  <img src="{{ libro.portada.url }}" />
  {% endif %}
  <br /><br />
  {% if libro.disponibilidad == 'disponible' %}
  <a href="{% url 'reservar_libro' pk=libro.pk %}" role="button">Reservar</a>
  {% else %}
  <a href="{% url 'devolver_libro' pk=libro.pk %}" role="button">Devolver</a>
  {% endif %}
  <a href="{% url 'editar_libro' pk=libro.pk %}" role="button">Editar info</a>
  <a href="{% url 'borrar_libro' pk=libro.pk %}" role="button">Eliminar</a>
  <a href="{% url 'lista_libros' %}" role="button">Volver a Listado</a>
</article>
{% endblock %}
