{% extends 'base.html' %} {% block content %}
<h3>Búsqueda por Categoría</h3>
<form method="GET">
  {% csrf_token %} {{ form.as_p }}
  <article>
    <select name="opcionCategoria">
      <option value="">Todas las categorías</option>
      {% for categoria in categorias %}
      <option value="{{ categoria }}" {% if categoria.categoria == categoriaSeleccionada %} selected {% endif %} >{{ categoria }}</option>
      {% endfor %}
    </select>
    <select name="opcionAutor">
      <option value="">Todas los autores</option>
      {% for autor in autores %}
      <option value="{{ autor.nombre }}" {% if autor.nombre == autorSeleccionado %} selected {% endif %} >{{ autor.nombre }}</option>
      {% endfor %}
    </select>
  </article>
  <br />
  <input type="submit" value="buscar libros" />
</form>
<h3>Libros encontrados:</h3>
{% for libro in object_list %}
<article>
  <h6><b>Título: </b> {{ libro.titulo }}</h6>
  <a href="{% url 'detalle' pk=libro.pk %}" role="button">Ver detalles</a>
</article>
{% empty %}
<article>Sin resultados...</article>
{% endfor %} {% endblock %}
